<h1>Result</h1>
<p>
<% case @result %>
<% when 1%>
Sorry but <strong><%= @guess.upcase %></strong> can't be built out of <%= @grid.chars.join(', ') %>.
<% when 2%>
Sorry but <strong><%= @guess.upcase %></strong> does not seem to be a valid English word...
<% when 3%>
<strong>Congratulations!</strong> <%= @guess.upcase %> is a valid English word!
<% end %>
</p>
<p>You win <%= @guess.size %> points. Now your total is <%= session[:points] %> points.</p>
<%= link_to "Play again", "new" %>
